.layout {
  min-height: 100%;
}
.layoutHeader {
  height: 32px;
  line-height: 32px;
  background-color: #AEDBCE;
  display: flex;
}
.write {
  background-color: #fff;
  word-break: break-all;
  height: 100%;
}